/* CSS declarations go here */
body{
  overflow-x:hidden;
}
#up{
    z-index:9000;
}
#book{
  position:absolute;
  padding-right:10px;
  z-index:9001;
  width: 30vw;
}
#misc{
  //z-index:9000;
  position:absolute;
  padding-top:40px;
  padding-left : 10px;
  padding-right : 10px;
  background-color: rgba(75,75,75,0.5);
  width: 30vw;
  height: 100vh;
  z-index:9000;
}
.nav-pills li a{
  border-radius : 0px;
}

#my-books{
    z-index:9001;
    position:absolute;
    padding-top:40px;
    padding-left : 10px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(75,75,75,0.5);
    overflow-x:hidden;
  }
figcaption{
  text-align:center;
}
#header-tiles{
  cursor:default;
}
#header-tiles :hover{
  bakground:rgba(0,0,0,1);
  color:rgba(125,125,125,1);
};
#go-back{
  text-align:right;
}
#go-back :hover{
  color: rgba(65,105,225,1);
  cursor:pointer;
}
#create-book{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index : 9999;
    background-color: rgba(125,125,125,0.9);
    color: rgba(255,255,255,1);
    font-size : 20px;
    padding:30px;
    text-align: center;
    width:500px;
}
#upload-button{
  margin:10px;
  position: relative;
  overflow: hidden;
}
#upload-button input[type=file]{
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
#thumb :hover{
  opacity:0.5;
}
